* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.top {
    height: 100vh;
    background-color: white;
}

.header {
    width: 100%;
    color: white;
    background-color: #ff2e2e;
    height: 150px;
    display: flex;
    justify-content: center;
}

.header .center {
    width: 90vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo h1 {
    font-size: 40px;
}

.header .links {
    display: flex;
}

.header .links a {
    margin-left: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 3px solid transparent;
    transition-duration: .4s;
}

.header .links a:hover {
    border-color: white;  
}

.introduction h1 {
    color: #ff2e2e;
    font-size: 200px;
}

.footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #ff2e2e;
}

.footer .footerLogo {
    font-size: 30px;
}

.footer .footerContent {
    margin: 15px 0;
}

.footer .footerContent a {
    margin: 0 30px;
    color: white;
    text-decoration: none;
}

