* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.top {
    height: 100vh;
    background-color: white;
}

.header {
    width: 100%;
    color: white;
    background-color: #ff2e2e;
    height: 150px;
    display: flex;
    justify-content: center;
}

.header .center {
    width: 90vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo h1 {
    font-size: 40px;
}

.header .links {
    display: flex;
}

.header .links a {
    margin-left: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 3px solid transparent;
    transition-duration: .4s;
}

.header .links a:hover {
    border-color: white;  
}

.introduction .introLeft {
    margin: 10vh 0 0 10vw;
}

.introduction .introLeft h1 {
    color: #ff2e2e;
    font-size: 200px;
}

.introduction .introLeft p {
    font-size: 60px;
}

.aboutMe {
    height: 700px;
    width: 100%;
    background-color: #ff2e2e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe h1 {
    padding: 80px 0;
}

.aboutMe .aboutMeRow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.aboutMe .aboutMeContent {
    margin: 0 30px;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

.aboutMe .aboutMeContent h2 {
    padding: 20px;
    font-size: 30px;
}

.aboutMe .aboutMeContent p {
 padding: 0 20px;
 font-size: 20px;
}

.footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-color: #ff2e2e;
}

.footer h1 {
    margin: 80px 0;
}

.footerCenter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footerContent {
    margin: 0 30px;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footerContent i {
    color: white;
    font-size: 40px;
}

.footer .footerContent .iconBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #ff2e2e;
    margin-top: 30px;
}

.footer .footerContent h1 {
    color: #ff2e2e;
    margin: 25px 0 10px 0;
}

.footer .footerContent p {
    font-size: 20px;
    color: black;
    margin: 2px 0;
}

.footer .footerContent p a {
    color: black;
    text-decoration: none;
}


